/*FORMATAÇÃO RESPONSIVA DA PAGINA PRINCIPAL*/

@media (max-width: 679.99px){
    /*SLIDER*/
    #slider .item--1,
    #slider .item--2,
    #slider .item--3{
        height: 99vh;
    }
    #slider .featured--title{
        font-size: 16px;
        max-width: 70%;
    }
    #slider .featured--name{
        font-size: 50px;
    }
    /*LISTAGEM*/
    #list h3{
        font-size: 20px;
    }
    #list .list--gallery img{
        width: 120px;
    }
    #navigation .nav-next,
    #navigation .nav-before{
        height: 180px;
    }
    /*FOOTER*/
    #premium-version h1{
        font-size: 35px;
    }
    #premium-version p{
        font-size: 17px;
    }
    #background-premium .background-premium{
        margin-top: 700px;
    }
}

@media (min-width: 680px) and (max-width: 1245px){
    /*SLIDER*/
    #slider .featured--title{
        font-size: 18px;
        max-width: 70%;
    }
    #banner .featured--name{
        font-size: 55px;
    }
    /*FOOTER*/
    #premium-version h1{
        font-size: 45px;
    }
    #premium-version p{
        font-size: 22px;
    }
}

/*HORIZONTAL MOBILE*/

@media (max-height: 415px){
    /*HEADER*/
    #header{
        height: 50px;
    }
    #header .header--logo{
        height: 30px;
    }
    /*LIST*/
    #list h3{
        font-size: 20px;
    }
    #list .list--gallery img{
        width: 180px;
    }
    #navigation .nav-next,
    #navigation .nav-before{
        height: 270px;
    }
    /*FOOTER*/
    #premium-version{
        margin-top: -250px;
    }
    #premium-version h1{
        font-size: 35px;
    }
    #premium-version p{
        font-size: 17px;
    }
    #background-premium .background-premium{
        margin-top: 1060px;
    }
}