/*FORMATAÇÃO RESPONSIVA DA PAGINA PRINCIPAL*/

@media (max-width: 679.99px){
    #slider .featured--title{
        font-size: 16px;
        max-width: 70%;
    }
    #slider .featured--name{
        font-size: 50px;
    }
    #premium-version h1{
        font-size: 40px;
    }
    #premium-version p{
        font-size: 17px;
    }
}

@media (min-width: 680px) and (max-width: 1245px){
    #slider .featured--title{
        font-size: 18px;
        max-width: 70%;
    }
    #banner .featured--name{
        font-size: 55px;
    }
    #premium-version h1{
        font-size: 45px;
    }
    #premium-version p{
        font-size: 22px;
    }
}