/*FORMATAÇÃO RESPONSIVA DA PAGINA DOS ANIMES*/

@media (max-width: 679.99px){
    #banner {
        width: 100vw;
    }
    #banner .featured--title,
    #banner .infos--adicionais{
        font-size: 15px;
        max-width: 70%;
    }
    #banner .featured--title{ /*CUSTOMIZAÇÃO DA QUANTIDADE DE LINHAS DA DESCRIÇÃO*/
        font-size: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* numero de linhas apresentadas */
                line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    #banner .featured--name img{
        height: 80px;
    }
    #banner video{
        display: none;
    }
    #banner .banner--mobile{
        display: flex;
    }
    #episodios #temporada--1,
    #episodios #temporada--2{
        justify-content: center;
    }
}

@media (min-width: 680px) and (max-width: 1245px){
    #banner .featured--title,
    #banner .infos--adicionais{
        font-size: 18px;
        max-width: 70%;
    }
    #banner .featured--name img{
        height: 120px;
    }
    #episodios #temporada--1,
    #episodios #temporada--2{
        justify-content: space-between;
    }
}