/*FORMATAÇÃO RESPONSIVA DA PAGINA DOS ANIMES*/

@media (max-width: 679.99px){
    /*BANNER*/
    #banner {
        width: 100vw;
    }
    #banner .featured--title,
    #banner .infos--adicionais{
        font-size: 15px;
        max-width: 70%;
    }
    #banner .featured--title{ /*CUSTOMIZAÇÃO DA QUANTIDADE DE LINHAS DA DESCRIÇÃO*/
        font-size: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* numero de linhas apresentadas */
                line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    #banner .featured--name img{
        height: 80px;
    }
    #banner video{
        display: none;
    }
    #banner .banner--mobile{
        display: flex;
    }
    /*EPISODIOS*/
    #episodios #temporada--1,
    #episodios #temporada--2{
        justify-content: center;
        padding: 20px 10px;
    }
}

@media (min-width: 680px) and (max-width: 1245px){
    /*BANNER*/
    #banner .featured--title,
    #banner .infos--adicionais{
        font-size: 18px;
        max-width: 70%;
    }
    #banner .featured--name img{
        height: 120px;
    }
    /*EPISODIOS*/
    #episodios #temporada--1,
    #episodios #temporada--2{
        justify-content: space-between;
    }
}

/*MOBILE HORIZONTAL*/

@media (max-height: 415px){
    /*HEADER*/
    #header{
        height: 50px;
    }
    #header .header--logo{
        height: 30px;
    }
    /*BANNER*/
    #banner .featured--name img{
        height: 60px;
    }
    #banner .featured--title,
    #banner .infos--adicionais{
        font-size: 12px;
        max-width: 60%;
    }
    #banner video{
        display: none;
    }
    #banner .infos--adicionais img{
        width: 20px;
        height: auto;
    }
    #banner .banner--mobile{
        display: flex;
    }
    #banner button.play{
        width: 120px;
        height: 40px;
        font-size: 12px;
    }
    #banner button.plus{
        width: 40px;
        height: 40px;
        font-size: 20px;
    }
    /*CHAPTERS*/
    #chapters .link--ep a{
        font-size: 15px;
    }
    #chapters .dropdown-toggle{
        font-size: 12px;
    }
    #chapters .dropdown-item{
        font-size: 12px;
    }
    /*EPISODIOS*/
    #episodios #temporada--1,
    #episodios #temporada--2{
        width: 100vw;
    }
    #episodios .conteudo--midia p{
        font-size: 14px;
    }
    #episodios .description p{
        font-size: 13px;
        color: #999;
        margin-top: -15px;
    }
}